$Form: '.easy';

#{$Form} {
  &-form {
    &-item {
      &--with-appends {
        .el-form-item__content {
          .prepend,
          .append {
            width: var(--easy-width-140);
            flex-shrink: 0;
          }

          .prepend {
            padding-right: var(--easy-base-space);
          }

          .append {
            padding-left: var(--easy-base-space);
          }

          .main {
            width: 0; // 防止被子元素撑开
            flex: 1;
          }
        }
      }

      .el-date-editor {
        width: 100% !important;
      }
    }
  }
}
